* {
  box-sizing: border-box;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid #515355;
  border-radius: 24px;
  background: #303030;
  padding: 15px;
  width: 591px;
  height: 144px;
  row-gap: 48px;

  .paperclip {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .frame {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    column-gap: 8px;

    .a {
      flex-grow: 1;
      text-align: right;
      line-height: 22px;
      letter-spacing: -0.11px;
      color: #d4d4d8;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .frame2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;

    .button {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 1234px;
      background: #6e83f5;
      padding: 10px 16px;
      overflow: hidden;

      .text {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: -0.08px;
        color: #ffffff;
        font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .paperPlaneRight {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }
    }

    .buttonIcon {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border: 1px solid #cbd5e1;
      border-radius: 123px;
      padding: 15px;
      width: 40px;
      height: 40px;
      overflow: hidden;
    }
  }
}
