* {
  box-sizing: border-box;
}

.frame2147223714 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 936px;
  height: 738px;
  row-gap: 37px;

  .frame2147223708 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .frame2147223659 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      justify-content: center;
      border-radius: 15px;
      background: #6e83f5;
      padding: 16px;
      row-gap: 8px;

      .a {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .a2 {
      flex-shrink: 0;
      line-height: 49px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 500;
    }
  }

  .frame2147223713 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 24px;

    .a4 {
      flex-shrink: 0;
      align-self: stretch;
      width: 936px;
      text-align: right;
      line-height: 30px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }

    .a3 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: right;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
    }

    .frame2147223709 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      row-gap: 20px;

      .frame2147223710 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 20px;
      }
    }

    .frame2147223712 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      row-gap: 24px;

      .frame2147223711 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;
      }
    }
  }
}
