* {
  box-sizing: border-box;
}

.frame2147223687 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 24px;
  width: 936px;
  height: 56px;

  .a {
    flex-shrink: 0;
    line-height: 29px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
  }

  .frame2147223686 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 15px;
    background: #303030;
    padding: 16px;
    overflow: hidden;

    .a2 {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: #d4d4d8;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .autoWrapper {
      position: relative;
      flex-shrink: 0;
      width: 24px;
      height: 24px;

      .arrowLeft {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        rotate: -180deg;
      }
    }
  }
}
