* {
  box-sizing: border-box;
}

.item2 {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 15px;
  background: #303030;
  padding: 8px;
  width: 936px;
  height: 59px;

  .a {
    flex-grow: 1;
    align-self: stretch;
    padding: 15px 16px;
    width: 304px;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0;
    color: #f8f8f8;
    font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 8px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px 0px #00000014;
    background: #6e83f5;
    padding: 8px 16px;

    .a2 {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
  }
}
