* {
  box-sizing: border-box;
}

.frame2147223553 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #515355;
  border-radius: 20px;
  background: #212121;
  padding: 23px;
  width: 867px;
  height: 444px;
  overflow: hidden;
  row-gap: 24px;

  .frame2147223576 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 8px;

    .cancel01 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .a {
      flex-grow: 1;
      text-align: right;
      letter-spacing: 0;
      color: #d4d4d8;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .a2 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: right;
      letter-spacing: 0;
      color: #f4f4f4;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .basicInputs {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border: 1px solid #515355;
      border-radius: 15px;
      background: #303030;
      padding: 12px 11px;
      height: 48px;

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 18px;
        height: 18px;

        .arrowRight {
          position: absolute;
          top: -1px;
          left: 0;
          width: 18px;
          height: 18px;
          rotate: -90deg;
        }
      }

      .a3 {
        flex-shrink: 0;
        line-height: 14px;
        letter-spacing: 0;
        color: #d4d4d8;
        font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .frame2147223586 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    border: 1px solid #515355;
    border-radius: 20px;
    background: #303030;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    row-gap: 24px;

    .export {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
    }

    .a4 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }

    .frame2147223496 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 15px;
      background: #6e82f4;
      padding: 16px 40px;
      width: 202px;
      height: 48px;
      overflow: hidden;

      .a5 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }
}
