* {
  box-sizing: border-box;
}

.frame2147223686 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 15px;
  background: #6e83f51a;
  padding: 16px 410px;
  width: 936px;
  height: 56px;
  overflow: hidden;

  .a {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: #6e83f5;
    font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .addCircle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
