* {
  box-sizing: border-box;
}

.frame2147223553 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #515355;
  border-radius: 20px;
  background: #212121;
  padding: 23px;
  width: 867px;
  height: 245px;
  overflow: hidden;
  row-gap: 24px;

  .frame2147223576 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 8px;

    .cancel01 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .a {
      flex-grow: 1;
      text-align: right;
      letter-spacing: 0;
      color: #d4d4d8;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .a2 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: right;
      letter-spacing: 0;
      color: #f4f4f4;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .basicInputs {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 10px;
      border: 1px solid #515355;
      border-radius: 15px;
      background: #303030;
      padding: 12px 11px;
      height: 48px;

      .a3 {
        flex-grow: 1;
        text-align: right;
        line-height: 14px;
        letter-spacing: 0;
        color: #d4d4d8;
        font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .frame2147223662 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 16px;
    margin-right: 549px;

    .a4 {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Alexandria, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .frame2147223659 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      justify-content: center;
      border: 1px solid #515355;
      border-radius: 15px;
      background: #303030;
      padding: 15px 46px;
      row-gap: 8px;
    }

    .frame21472236592 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      justify-content: center;
      border-radius: 15px;
      background: #6e83f5;
      padding: 16px 48px;
      row-gap: 8px;
    }
  }
}
